body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  direction: rtl;
  padding: 0 10px;
}

.centerAlign {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fullWidth {
  width: 100%;
  max-width: 100%;
}

.userInfoCard {
  border: 1px solid lightgrey;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px grey;
  padding: 10px;
}

.autoMargin {
  margin: auto;
}

.userInfoInputs{
  margin : 10px 0 !important
}
